 .style0{fill:#001414;}
 .style1{fill:#F1F3F3;}
 .style2{fill:#9EB3FF;}
 .style3{fill:#BECACA;}
 .style4{fill:#5BD25D;}
 .style5{fill:#FF9B99;}
 .style6{fill:#5DC9D5;}
 .style7{fill:#F88FFF;}
 .style8{fill:#DEB35E;}
 .style9{fill:#FF9B99;}
.style10{fill:#62BC72;}
.style11{fill:#389449;}
.style12{fill:#DEB35E;}
.style13{fill:#AB9963;}
.style14{fill:#64500C;}
.style15{fill:#345093;}
.style16{fill:#4C5757;}
.style17{fill:#006112;}
.style18{fill:#873A36;}
.style19{fill:#005F66;}
.style20{fill:#7E338A;}
.style21{fill:#64500C;}
.style22{fill:#727E7E;}
.style23{fill:#001414;}
.style24{fill:#64D9DD;}
.style25{fill:#909D9D;}
.style26{fill:#C6D2D2;}
.style27{fill:#ACB9B9;}
.style28{fill:#001414;}
.style29{fill:#424D4D;}
.style30{fill:#272B2B;}
.style31{fill:#FFB3B3;}