 .style0{fill:#64D9DD;}
 .style1{fill:#64D9DD;}
 .style2{fill:#64D9DD;}
 .style3{fill:#64D9DD;}
 .style4{fill:#64D9DD;}
 .style5{fill:#64D9DD;}
 .style6{fill:#64D9DD;}
 .style7{fill:#64D9DD;}
 .style8{fill:#64D9DD;}
 .style9{fill:#64D9DD;}
.style10{fill:#64D9DD;}
.style11{fill:#64D9DD;}
.style12{fill:#64D9DD;}
.style13{fill:#64D9DD;}
.style14{fill:#64D9DD;}
.style15{fill:#64D9DD;}
.style16{fill:#64D9DD;}
.style17{fill:#64D9DD;}
.style18{fill:#64D9DD;}
.style19{fill:#64D9DD;}
.style20{fill:#64D9DD;}
.style21{fill:#64D9DD;}
.style22{fill:#64D9DD;}
.style23{fill:#64D9DD;}
.style24{fill:#64D9DD;}
.style25{fill:#64D9DD;}
.style26{fill:#64D9DD;}
.style27{fill:#64D9DD;}
.style28{fill:#64D9DD;}