 .style0{fill:#FAFFFF;}
 .style1{fill:#1F2323;}
 .style2{fill:#4560C9;}
 .style3{fill:#4C5757;}
 .style4{fill:#007A06;}
 .style5{fill:#B43631;}
 .style6{fill:#007380;}
 .style7{fill:#9D37A4;}
 .style8{fill:#855D00;}
 .style9{fill:#B43631;}
.style10{fill:#258837;}
.style11{fill:#5AB56A;}
.style12{fill:#855D00;}
.style13{fill:#9C8C54;}
.style14{fill:#DEC78C;}
.style15{fill:#ADC5FF;}
.style16{fill:#BECACA;}
.style17{fill:#79DC8B;}
.style18{fill:#FFB4B3;}
.style19{fill:#7CD7DF;}
.style20{fill:#F4ADFF;}
.style21{fill:#DEC78C;}
.style22{fill:#9EA9A9;}
.style23{fill:#FFFFFF;}
.style24{fill:#005F61;}
.style25{fill:#849090;}
.style26{fill:#424D4D;}
.style27{fill:#5D6969;}
.style28{fill:white;}
