 .style0{fill:#005F61;}
 .style1{fill:#005F61;}
 .style2{fill:#005F61;}
 .style3{fill:#005F61;}
 .style4{fill:#005F61;}
 .style5{fill:#005F61;}
 .style6{fill:#005F61;}
 .style7{fill:#005F61;}
 .style8{fill:#005F61;}
 .style9{fill:#005F61;}
.style10{fill:#005F61;}
.style11{fill:#005F61;}
.style12{fill:#005F61;}
.style13{fill:#005F61;}
.style14{fill:#005F61;}
.style15{fill:#005F61;}
.style16{fill:#005F61;}
.style17{fill:#005F61;}
.style18{fill:#005F61;}
.style19{fill:#005F61;}
.style20{fill:#005F61;}
.style21{fill:#005F61;}
.style22{fill:#005F61;}
.style23{fill:#005F61;}
.style24{fill:#005F61;}
.style25{fill:#005F61;}
.style26{fill:#005F61;}
.style27{fill:#005F61;}
.style28{fill:#005F61;}
.style29{fill:#005F61;}
.style30{fill:#005F61;}
.style31{fill:#005F61;}