.Icons_Outline_Red{fill:#ff9d8a;}
.Icons_Outline_Yellow{fill:#fea462;}
.Icons_Outline_Green{fill:#15d515;}
.Icons_Outline_Turquoise{fill:#18cdbb;}
.Icons_Outline_Blue{fill:#8ab8ff;}
.Icons_Outline_Violet{fill:#ff8ff4;}
.Icons_Outline_Gray{fill:#d0c8b3;}
.Icons_Outline_Selected{fill:#f4c13e;}
.Icons_Outline_Disabled{fill:#6a675c;}
.Icons_Outline_On_Accent{fill:#120f07;}
.Icons_Fill_Red{fill:#982b1b;}
.Icons_Fill_Yellow{fill:#844101;}
.Icons_Fill_Green{fill:#006100;}
.Icons_Fill_Turquoise{fill:#006157;}
.Icons_Fill_Blue{fill:#21519c;}
.Icons_Fill_Violet{fill:#931587;}
.Icons_Fill_Gray{fill:#57554c;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#f2f2f2;}
