.Icons_Outline_Red{fill:#ff9ea1;}
.Icons_Outline_Yellow{fill:#dcb560;}
.Icons_Outline_Green{fill:#5cd15c;}
.Icons_Outline_Turquoise{fill:#5ec8d9;}
.Icons_Outline_Blue{fill:#99b5ff;}
.Icons_Outline_Violet{fill:#f394ff;}
.Icons_Outline_Gray{fill:#c4c8ca;}
.Icons_Outline_Selected{fill:#75d0ff;}
.Icons_Outline_Disabled{fill:#65696c;}
.Icons_Outline_On_Accent{fill:#0e1011;}
.Icons_Fill_Red{fill:#9e2428;}
.Icons_Fill_Yellow{fill:#704f00;}
.Icons_Fill_Green{fill:#006100;}
.Icons_Fill_Turquoise{fill:#005e6b;}
.Icons_Fill_Blue{fill:#2d4da4;}
.Icons_Fill_Violet{fill:#8a1c97;}
.Icons_Fill_Gray{fill:#4e5356;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#f2f2f2;}
