.Icons_Outline_Red{fill:#ff9c8a;}
.Icons_Outline_Yellow{fill:#f8a859;}
.Icons_Outline_Green{fill:#1ad51a;}
.Icons_Outline_Turquoise{fill:#1ccebe;}
.Icons_Outline_Blue{fill:#adb1ff;}
.Icons_Outline_Violet{fill:#ff8ff3;}
.Icons_Outline_Gray{fill:#d4c6bf;}
.Icons_Outline_Selected{fill:#ffb58a;}
.Icons_Outline_Disabled{fill:#72665f;}
.Icons_Outline_On_Accent{fill:#150e0a;}
.Icons_Fill_Red{fill:#982c1b;}
.Icons_Fill_Yellow{fill:#804400;}
.Icons_Fill_Green{fill:#006100;}
.Icons_Fill_Turquoise{fill:#006158;}
.Icons_Fill_Blue{fill:#3d46b3;}
.Icons_Fill_Violet{fill:#931586;}
.Icons_Fill_Gray{fill:#60534d;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#f2f2f2;}
