.Icons_Outline_Red{fill:#ff9a99;}
.Icons_Outline_Yellow{fill:#ddb35f;}
.Icons_Outline_Green{fill:#57d15d;}
.Icons_Outline_Turquoise{fill:#5cc8d6;}
.Icons_Outline_Blue{fill:#9eb4ff;}
.Icons_Outline_Violet{fill:#f88fff;}
.Icons_Outline_Gray{fill:#c6c8c8;}
.Icons_Outline_Selected{fill:#63d9de;}
.Icons_Outline_Disabled{fill:#626a6a;}
.Icons_Outline_On_Accent{fill:#0f0f0f;}
.Icons_Fill_Red{fill:#8a3838;}
.Icons_Fill_Yellow{fill:#684f0d;}
.Icons_Fill_Green{fill:#09620d;}
.Icons_Fill_Turquoise{fill:#095c62;}
.Icons_Fill_Blue{fill:#3d508f;}
.Icons_Fill_Violet{fill:#803187;}
.Icons_Fill_Gray{fill:#515758;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#f2f2f2;}