.Icons_Outline_Red{fill:#ff9a99;}
.Icons_Outline_Yellow{fill:#ddb35f;}
.Icons_Outline_Green{fill:#57d15d;}
.Icons_Outline_Turquoise{fill:#5cc8d6;}
.Icons_Outline_Blue{fill:#9eb4ff;}
.Icons_Outline_Violet{fill:#f88fff;}
.Icons_Outline_Gray{fill:#b9caca;}
.Icons_Outline_Selected{fill:#63d9de;}
.Icons_Outline_Disabled{fill:#5b6b6b;}
.Icons_Outline_On_Accent{fill:#0a1010;}
.Icons_Fill_Red{fill:#9c2421;}
.Icons_Fill_Yellow{fill:#754e00;}
.Icons_Fill_Green{fill:#006105;}
.Icons_Fill_Turquoise{fill:#005e6b;}
.Icons_Fill_Blue{fill:#2f4ca7;}
.Icons_Fill_Violet{fill:#8d1796;}
.Icons_Fill_Gray{fill:#4b5858;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#f2f2f2;}
