.Icons_Outline_Red{fill:#5b6b6b;}
.Icons_Outline_Yellow{fill:#5b6b6b;}
.Icons_Outline_Green{fill:#5b6b6b;}
.Icons_Outline_Turquoise{fill:#5b6b6b;}
.Icons_Outline_Blue{fill:#5b6b6b;}
.Icons_Outline_Violet{fill:#5b6b6b;}
.Icons_Outline_Gray{fill:#5b6b6b;}
.Icons_Outline_Selected{fill:#5b6b6b;}
.Icons_Outline_Disabled{fill:#5b6b6b;}
.Icons_Outline_On_Accent{fill:#5b6b6b;}
.Icons_Fill_Red{fill:#00000000;}
.Icons_Fill_Yellow{fill:#00000000;}
.Icons_Fill_Green{fill:#00000000;}
.Icons_Fill_Turquoise{fill:#00000000;}
.Icons_Fill_Blue{fill:#00000000;}
.Icons_Fill_Violet{fill:#00000000;}
.Icons_Fill_Gray{fill:#00000000;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#5b6b6b;}
.Text_Neutral_Primary{fill:#f2f2f2;}
