.Icons_Outline_Red{fill:#f4a4a5;}
.Icons_Outline_Yellow{fill:#d0b786;}
.Icons_Outline_Green{fill:#83c985;}
.Icons_Outline_Turquoise{fill:#85c4c7;}
.Icons_Outline_Blue{fill:#b0b4fc;}
.Icons_Outline_Violet{fill:#ee9df0;}
.Icons_Outline_Gray{fill:#c4cac6;}
.Icons_Outline_Selected{fill:#8ed7ae;}
.Icons_Outline_Disabled{fill:#626a65;}
.Icons_Outline_On_Accent{fill:#0e110f;}
.Icons_Fill_Red{fill:#9d2527;}
.Icons_Fill_Yellow{fill:#754d00;}
.Icons_Fill_Green{fill:#006103;}
.Icons_Fill_Turquoise{fill:#005f66;}
.Icons_Fill_Blue{fill:#3847b2;}
.Icons_Fill_Violet{fill:#911291;}
.Icons_Fill_Gray{fill:#4e5551;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#f2f2f2;}
