.Icons_Outline_Red{fill:#905251;}
.Icons_Outline_Yellow{fill:#77612c;}
.Icons_Outline_Green{fill:#27722a;}
.Icons_Outline_Turquoise{fill:#296d70;}
.Icons_Outline_Blue{fill:#5c6199;}
.Icons_Outline_Violet{fill:#8e4c90;}
.Icons_Outline_Gray{fill:#46594e;}
.Icons_Outline_Selected{fill:#115f34;}
.Icons_Outline_Disabled{fill:#a9bcb1;}
.Icons_Outline_On_Accent{fill:#ffffff;}
.Icons_Fill_Red{fill:#ffb3b4;}
.Icons_Fill_Yellow{fill:#f0c270;}
.Icons_Fill_Green{fill:#66e16a;}
.Icons_Fill_Turquoise{fill:#67d7e0;}
.Icons_Fill_Blue{fill:#bdc2ff;}
.Icons_Fill_Violet{fill:#fda8ff;}
.Icons_Fill_Gray{fill:#b8ccc1;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#212222;}
