.Icons_Outline_Red{fill:#b7383d;}
.Icons_Outline_Yellow{fill:#855d00;}
.Icons_Outline_Green{fill:#007a00;}
.Icons_Outline_Turquoise{fill:#007285;}
.Icons_Outline_Blue{fill:#3b5cde;}
.Icons_Outline_Violet{fill:#a130ab;}
.Icons_Outline_Gray{fill:#525557;}
.Icons_Outline_Selected{fill:#00568a;}
.Icons_Outline_Disabled{fill:#b3b9bc;}
.Icons_Outline_On_Accent{fill:#ffffff;}
.Icons_Fill_Red{fill:#ffb3b5;}
.Icons_Fill_Yellow{fill:#ebc36b;}
.Icons_Fill_Green{fill:#68df68;}
.Icons_Fill_Turquoise{fill:#6bd7eb;}
.Icons_Fill_Blue{fill:#b3c5ff;}
.Icons_Fill_Violet{fill:#f5adff;}
.Icons_Fill_Gray{fill:#c3c8cb;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#212222;}
