.Icons_Outline_Red{fill:#bbb7b5;}
.Icons_Outline_Yellow{fill:#bbb7b5;}
.Icons_Outline_Green{fill:#bbb7b5;}
.Icons_Outline_Turquoise{fill:#bbb7b5;}
.Icons_Outline_Blue{fill:#bbb7b5;}
.Icons_Outline_Violet{fill:#bbb7b5;}
.Icons_Outline_Gray{fill:#bbb7b5;}
.Icons_Outline_Selected{fill:#bbb7b5;}
.Icons_Outline_Disabled{fill:#bbb7b5;}
.Icons_Outline_On_Accent{fill:#bbb7b5;}
.Icons_Fill_Red{fill:#00000000;}
.Icons_Fill_Yellow{fill:#00000000;}
.Icons_Fill_Green{fill:#00000000;}
.Icons_Fill_Turquoise{fill:#00000000;}
.Icons_Fill_Blue{fill:#00000000;}
.Icons_Fill_Violet{fill:#00000000;}
.Icons_Fill_Gray{fill:#00000000;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#bbb7b5;}
.Text_Neutral_Primary{fill:#212222;}
