.Icons_Outline_Red{fill:#ba3637;}
.Icons_Outline_Yellow{fill:#855d00;}
.Icons_Outline_Green{fill:#007a06;}
.Icons_Outline_Turquoise{fill:#007380;}
.Icons_Outline_Blue{fill:#395dc6;}
.Icons_Outline_Violet{fill:#9d36a6;}
.Icons_Outline_Gray{fill:#465959;}
.Icons_Outline_Selected{fill:#006061;}
.Icons_Outline_Disabled{fill:#acb9b9;}
.Icons_Outline_On_Accent{fill:#ffffff;}
.Icons_Fill_Red{fill:#ffb3b3;}
.Icons_Fill_Yellow{fill:#ebc46f;}
.Icons_Fill_Green{fill:#67e06d;}
.Icons_Fill_Turquoise{fill:#6bd7e6;}
.Icons_Fill_Blue{fill:#b3c4ff;}
.Icons_Fill_Violet{fill:#f8adff;}
.Icons_Fill_Gray{fill:#c0c9c9;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#212222;}
