.Icons_Outline_Red{fill:#b93118;}
.Icons_Outline_Yellow{fill:#995100;}
.Icons_Outline_Green{fill:#007a00;}
.Icons_Outline_Turquoise{fill:#00756a;}
.Icons_Outline_Blue{fill:#585ad0;}
.Icons_Outline_Violet{fill:#b413a3;}
.Icons_Outline_Gray{fill:#585351;}
.Icons_Outline_Selected{fill:#993500;}
.Icons_Outline_Disabled{fill:#bbb7b5;}
.Icons_Outline_On_Accent{fill:#ffffff;}
.Icons_Fill_Red{fill:#ffb3a8;}
.Icons_Fill_Yellow{fill:#fdbc7c;}
.Icons_Fill_Green{fill:#66e166;}
.Icons_Fill_Turquoise{fill:#62dacf;}
.Icons_Fill_Blue{fill:#bdc1ff;}
.Icons_Fill_Violet{fill:#ffa8f6;}
.Icons_Fill_Gray{fill:#c9c6c5;}
.Icons_Fill_Selected{fill:#00000000;}
.Icons_Fill_Disabled{fill:#00000000;}
.Graphics_Yellow{fill:#d6a100;}
.Text_Neutral_Primary{fill:#212222;}
